name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Go version
        id: vars
        run: |
          goVersion=$(grep '^FROM golang' .github/go/Dockerfile | cut -d ':' -f 2 | cut -d '-' -f 1)
          echo "go_version=${goVersion}" >> "$GITHUB_OUTPUT"

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ steps.vars.outputs.go_version }}
          cache: true

      - name: Download Go modules
        run: go mod download

      - name: Run tests
        run: go test -v -race -coverprofile=coverage.out ./...
